.breadcrumbs {
    margin: 0;
    padding: 50px 0;
    list-style: none;
    display: none; }
@media all and (min-width: 768px) {
    .breadcrumbs {
        display: block;
    }
}
.breadcrumbs span {
    font-size: 14px;
    font-weight: 600;
}
.breadcrumbs i {
    font-style: normal;
    margin: 0 6px;
}
.breadcrumbs .breadcrumb_last {
    margin-right: 0;
    color: #49837a;
}
.breadcrumbs a {
    text-decoration: none;
    color: #4a4a4a;
}
.breadcrumbs a:hover {
    text-decoration: underline;
}
@media all and (max-width: 1169px) {
    .breadcrumbs {
        padding: 35px 0 20px;
    }
}
@media all and (max-width: 767px) {
    .breadcrumbs {
        padding: 10px 0;
    }
    .breadcrumbs li {
        font-size: 10px;
    }
}

.wp-pagenavi {
    text-align: center;
}
.wp-pagenavi a, .wp-pagenavi > span {
    height: 29px;
    min-width: 26px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #4a4a4a;
    line-height: 26px;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 14px;
    display: inline-block;
    margin-right: 6px;
}
.wp-pagenavi > span {
    background: #49837a;
    border-color: #49837a;
    color: #fff;
}
.wp-pagenavi a:hover {
    background: #50a497;
    color: #fff;
    border-color: #50a497;
}
.wp-pagenavi a.nextpostslink span {

}
.wp-pagenavi a.previouspostslink span {


}